// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  
  }

section {
  @extend .row;
  margin-top: 20px;
  }

canvas#myChart {
  display: block;
  padding: 20px;
}

.profile-pic {
  margin-left: 0;
}

.navbar-inverse .navbar-toggle {
  border-color: #989491;

}

.navbar-header .navbar-brand {
  color: #fff;
  font-size: 25px;
}

.navbar {
  background-color: #1f2f3a;
  opacity: 0.96;
  filter:alpha(opacity=40);
  margin-bottom:0;
}

form.navbar-search {
  padding-top:23px;
  // fixes known problem in bootstrap 3 for chrome and safari where
  // search bar spans entire nav container
  width: 200px;
}

button.navbar-toggle {
  margin-top:23px;
}
