body {
  background-color: #fff;
  color: #383530;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#words{
/*removing these to bring index higher up and left on page*/
/*  padding-top: 80px;
  padding-left: 40px;*/
}

navbar-brand {
  
  padding: 0;
  }
/*

@media(max-width:767px){
  
  #landing { 
  background: image-url('climber_phone.jpg'); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 0;
  margin-top: 0;
  height: 900px;
  min-height: 800px;
  overflow: hidden;
  bottom-border: none;

  }
}

@media(min-width:768px){
  
  #landing { 
  background: image-url('climber-nar.jpg'); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 0;
  margin-top: 0;
  height: 900px;
  min-height: 800px;
  overflow: hidden;
  bottom-border: none;

  }
  
}

  @media(min-width:992px){

   #landing { 
  background: image-url('climber_med.jpg'); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 0;
  margin-top: 0;
  height: 900px;
  min-height: 800px;
  overflow: hidden;
  width:100%;

  }

}

@media(min-width:1200px){

   #landing { 
  background: image-url('climber.jpg'); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 0;
  margin-top: 0;
  height: 1000px;
  min-height: 800px;
  overflow: hidden;
  width:100%;

  }
}

*/



p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.alert{
  padding-top: 40px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #ed6c44;
  /*&:hover {
    color: #ed6c44;
    background-color: #386380;*/
  /*}*/
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}




@media(min-width:912px){

  ul.nav.navbar-nav a{
    padding: 28px;
    color: #989491;
    &:hover {
      color: #fff; 
      text-decoration: none;

    }
  }
  
}


@media(max-width:911px){

   ul.nav.navbar-nav a{
      float: left;
      clear: both;
      padding: 28px 0 0 28px;
      &:hover {
      color: #fff; 
      text-decoration: none;
      margin: 0 auto;
      width: 100%;

    }

  }
  
}
 
@media(min-width:767px){
  form.navbar-search {
    // fixes known problem in bootstrap 3 for chrome and safari where
    // search bar spans entire nav container
    width: 200px;
  }
}





