// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  padding-right: 15px;
  padding-left: 15px;
}

#progressbar div {
	background: green;
	height: 29px;
}

.progress-container {
	display: inline-block;
	width: 60%;
}

#handwriting {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

.gus {
  width: 50%;
  text-align: center;
}

.list {
  text-align: left;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
}

.newToWeightable {
  display: inline;
  margin-top: 20px;

}

.breaker {
  clear: both;
}

.testimonial p {
  font-family: 'Open Sans', sans-serif;
}

.testimonial {
  width: 320px;
  height: 227px;
  background-color: white;
  margin: 25px;
  display: inline-block;
  padding: 10px;
}

.testimonial_picture {
  margin-right: 10px;
  display: block;
  float: left;
}

.footer {
  background-color: #283742;
  height: 600px;
}