// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  padding-right: 15px;
  padding-left: 15px;
}


.progress-container {
  display: inline-block;
  width: 100%;
}

#handwriting {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

.gus {
  width: 50%;
  text-align: center;
}

.pic {
  margin-top:20px;
}

.list {
  text-align: left;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
}

.newToWeightable {
  display: inline;
  margin-top: 20px;

}

.breaker {
  clear: both;
}

.testimonial {
  width: 320px;
  height: 227px;
  background-color: white;
  margin: 25px;
  display: inline-block;
  padding: 10px;
  p {
  font-family: 'Open Sans', sans-serif;
  }
}

.testimonial_picture {
  margin-right: 10px;
  display: block;
  float: left;
}

.testimonial_text {
  font-size: 1.45em;
  line-height: 25px;
}

.profile-pic {

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 0 0 1px #beb9b5; 
}

.profile-pad {
  padding-top: 40px;
}

.no-horiz-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.neg-margin {
  margin-left: 0px;
}

.username {
  margin:-10px 0;
}

.inline-text {
  display: inline;
}

.edit-goal-pad {
  padding-left: 20px;
}

.weighin-friend-text {
  padding-top: 20px;
  color: #228295;
  span {
    font-size:1.3em;
  }
}
.about-me{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wi-btn{
  background: #e75735;
  height:38px;
  line-height: 38px;
  text-align: center;
  z-index: 1
  p {
  color: white;
  }
}

.wi-panel {
  background-color: #dbd7d6;
  border: 2px solid #c1bcb8;
}

.btn-center {
  margin-left: 7px;
}

#progressbar div {
	background: green;
	height: 29px;
}

.prog-bar-con {
  margin-top: 20px;
}
.prog-bar-base{
  width: 100%;
  height:50px;
  background-color: #dbd7d6;
  border: 2px solid #c1bcb8;
}

.prog-bar-overlay{
  position: absolute;
  height:50px;
  margin-top: -50px;
  background-color: #4ec67c;
  border: 2px solid #4ca16c;
}

#progress-label{
    text-align: center;
    padding-top: 20px;
    font-size: 1.6em;
    color: #4ec67c;
}

.goal-date-con {
  margin-top: 27px;
  margin-left: 10px;

}


/* Stat Graph */

.stat-graph {
  background-color: white;
  border: 2px solid #dbd7d6;
  height: auto;
}
 
canvas{
    width: 100% !important;
    max-width: 600px;
    height: auto !important;
}
/* Right content */

/* Weigh-in speech bubble*/

.profile-weigh-ins {
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  border: 2px solid #dddddd;
  margin: 40px 0 8px 0;
  background-color: white;
  padding-left: 20px;
  &:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #dddddd;
    border-width: 10px;
    top: 10px;
    margin: 45px -15px 0 0
  }
  &:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: white;
    border-width: 10px;
    top: 10px;
    margin: 45px -18px 0 0
  }
}

/* Yeehaw box on Profile */

.yeehaws-panel {
  background-color: #4ec67c;
  border: 2px solid #4ca16c;
  border-radius: 0 !important;
  height: 65px;
  margin-left:2px;
  margin-right:2px;
  cursor: pointer;
}


.yeehaw-text {
  margin: 0;
  color: white;
  &:first-child {
    font-size:1.3em;
    padding: 5px 5px 0 5px;
  }
  &:last-child {
    padding-left: 5px;
  }
}


.fa-thumbs-up {
  padding-top: 6px;  
  color: white;
}

.btn-success {
    background-color: #4ec67c;
    border-color: #4ca16c; 
}

/* Comments on Profile */

.comments-panel {
  background-color: #dbd7d6;
  border: 2px solid #c1bcb8;
  margin-left:2px;
  margin-right:2px;
  
}

hr {
  margin-top:7px;
  margin-bottom:7px;
}

.panel-body.com-panel-body {
  padding:7px 0 0 7px;

}

.wi_comment_btn {
  margin-top: -10px;
  margin-bottom: 7px;
  text-align: center;
  
}

/* Timeline on Profile */

h1.your-weigh-ins {
  padding-left: 20%;
}

@media(max-width: 991px){
  h1.your-weigh-ins {
  font-size: 2.4em;
}
}

.feed-timeline {
  width: 6px;
  height: 50%;
  background: #228396;
  position: absolute;
  left: 21.1%;
  top: 125px;
}



.feed-timeline-caboose-0, .feed-timeline-caboose-1, .feed-timeline-caboose-2, .feed-timeline-caboose-3 {
  width: 6px;
  background: #228396;
  position: absolute;
  left: 84.3%;
}

.feed-timeline-caboose-0 {
  height: 645px;
  top: 102px;
}

.feed-timeline-caboose-1 {
  height: 400px;
  top: 102px;
}

.feed-timeline-caboose-2 {
  height: 408px;
  top: -130px;
}

.feed-timeline-caboose-3 {
  height: 330px;
  top: -262px;
}

.feed-circle, .feed-circle-base-1, .feed-circle-base-2, .feed-circle-base-3 {
  width: 10px;
  height: 10px;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  position: absolute;
  color: #fff;
  background: #266877;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #42b8d1;
  text-align: center;
  top: 0;
  z-index: 1;
}

.feed-circle {
  margin: 60px 0 0 0;
  left: 82.5%;
}
.feed-circle-base-1{
  margin: 500px 0 0 0; 
  left: 82.5%;
}

.feed-circle-base-2 {
  margin: 739px 0 0 0; 
  left: 82.5%;
}
.feed-circle-base-3 {
  margin: 276px 0 0 0; 
  left:82.5%;
}

/* Friends page */

.friends_header {
  margin-top:35px;
}
.friend_card {
  width: 325px;
  height: 433px;
  background-color: white;
  margin: 25px;
  margin-top: 25px;
  padding: 10px;
  display: block;
  border: 1px solid #b0b0b0;
  overflow:auto;
}

.friend_card_inner_border {
  border: 1px solid #e3e3e3;
  height: 375;
}

.friend_page_pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 8px solid #f3f3f3;
  box-shadow: 0 0 0 1px #beb9b5;
  margin-top: 15px;
}

.add_more_friends {
  text-decoration: none;
  background-color: #df5b35;
  width: 325px;
  height: 75px; 
  font-color: white;
  margin-top: 250px;
  padding: auto;
  display: inline-block;
  font-size: 1em;
}

.friend_goal_info {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-color: #293742;
  text-align: center;
}

.friend_profile_info {
  font-family: "Open Sans";
  font-size: 1em;
  font-color: #293742;
  text-align: center;
}

.friend_name {
  text-align: center;
}

.friend_progress_bar_base{
  height: 75px;
  background-color: #46bc72;
  border: 2px solid #5e9870;
  margin-top: 18px;
  width: 325px;
  margin-left: -12px;
}

.friend_progress_bar_offwhite {
  height:15px;
  width: 100%;
  margin-left:auto;
  margin-right: auto;
  margin-top: -30px;
  background-color: #a5dbb9;
  border: 2px solid #a5dbb9;
}

p.friend_progress_text {
  font-color: white;
  font-family: "Open Sans";
  text-align: center;
  margin-top: -40px;
}
