<h1 class="friends_header"><%= @user.friendships.count %> friends</h1>

<div class="friend_card col-md-3">
  <img class="friend_page_pic clearfix" src=<%= @user.profile_pic_url(:sq_medium) %>
</div>


<%= link_to(all_users_path) do %>
  <div class="add_more_friends">Find More Friends</div>
<% end %>








