<table>
  <tbody>
    <% @results.each do |user| %>
      <tr>
        <td><%= user.profile_pic %></td>
        <td><%= link_to "#{user.name}", user_path(user.id) %></td>
        <% if current_user.friends.include?(User.find(user.id)) %>
        <td><%= button_to 'Remove friend', destroy_friendships_path( id: user.id), method: :delete %></td>
        <% else %>
        <td><%= button_to 'Add friend', friendships_path( friend_id: user), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>